
body {
    background-color: white;
    font-family: Arial, sans-serif;
}
.btn:hover{
    background-color:green;
    border: 8px solid lightgreen;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*h1 is only for the main title in the header, which is the restuarant name*/
h1 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 66px;
}

/*h2 is for all content headers*/
h2 {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 66px;
}

/*h3 is for any special messages */
h3 {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 36px;
}

/*h4 is for footer header*/
h4 {
    font-family: Arial, sans-serif;
    font-size: 32px; 
}

/*p is for text*/
p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/*Header includes name AND the main menu*/
#header {
    background-color: white;
    color: black;
    position: fixed;
    top: 0px;
    height: auto;
    width: 100%;
    line-height: 0.8;
    z-index: 2;
}

.navbar {
    border-radius: 0px;
    color: white;
    font-size: 36px;
    font-family: Arial, sans-serif;
    height: auto;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
    .navbar {
        border-radius: 0px;
        color: white;
        font-size: 22px;
        font-family: Arial, sans-serif;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-family: "Lucida Handwriting", cursive;
        font-size: 30px;
    }

    h2 {
        font-family: Arial, sans-serif;
        padding: 0px;
        margin: 0px;
        font-size: 36px;
    }
}

ul.menuItem li {
    clear: both;
}

    ul.menuItem li span:first-child {
        float: left;
        padding: 0 .4em 0 0;
        margin: 0;
    }

    ul.menuItem li span + span {
        float: right;
        padding: 0 0 0 .4em;
        margin: 0;
    }

    ul.menuItem li:after {
        content: "";
        display: block;
        overflow: hidden;
        height: 1em;
        border-bottom: 1px dotted;
    }

/*This is the main content section*/
#content {
    background-color: white;
    position: relative;
    top: 200px;
    z-index: 1;
    margin: 0px 100px 0px 100px;
    padding-bottom:250px;
}
@media screen and (max-width: 600px) {
    #content {
        background-color: white;
        position: relative;
        top: 150px;
        z-index: 1;
        margin: 0px 10px 0px 10px;
        padding-bottom: 250px;
    }
}



/*This is the footer section */
#footer {
    color: black;
    background-color: lightgray;
    position: relative;
    bottom: 0px;
    height: 150px;
    width: 100%;
    z-index: 1;
}

    .footerBorder {
        width: 100%;
        height: 10px;
    }

    .socialMediaIcon {
        height: 50px;
        width: 50px;
        border-radius: 75px;
    }




